<div *ngIf="product?.nombreSelectionne > 0">
  <div class="semi-bold">
    {{ product?.name }}
  </div>
  <div class="d-flex justify-content-between align-items-baseline flex-nowrap">
    <div>
      <div>Price :</div>
      <span> {{ product.price | currency: "EUR":"symbol" }}</span>
    </div>
    <div>
      <div>Quantity :</div>
      <div class="d-flex align-items-baseline float-end">
        <span> {{ product?.nombreSelectionne }}</span>
        <button *ngIf="isEditable" class="btn-plus-moins" (click)="addOne()">
          +
        </button>
        <button *ngIf="isEditable" class="btn-plus-moins" (click)="removeOne()">
          -
        </button>
      </div>
    </div>
    <div>
      <div>Subtotal :</div>
      <span class="float-end">
        {{ getPrice(product) | currency: "EUR":"symbol" }}</span
      >
    </div>
  </div>
</div>
<div
  *ngIf="product?.nombreSelectionne === 0"
  class="d-flex justify-content-between align-items-center"
>
  <div>Pokeball go !!</div>

  <img
    class="pokeball"
    src="assets/pokeball.svg"
    (click)="addOne()"
    alt="acheter"
  />
</div>
