@import "bootstrap/scss/bootstrap-utilities";
.btn-plus-moins {
  width: 16px;
  height: auto;
  border: none;
  background-color: transparent;
  color: #f32d2c;
  font-weight: bold;
  font-size: $font-size-lg;
  cursor: pointer;
  margin-left: 8px;
  line-height: 16px;
  &:hover {
    border: none;
    background-color: transparent;
    color: rgba(#f32d2c, 0.7);
  }
  &:active {
    border: none;
    background-color: transparent;
    color: rgba(#f32d2c, 0.5);
  }
}
.pokeball {
  border: none;
  width: 48px;
  cursor: pointer;
}
.semi-bold {
  font-weight: 600;
}
