<div class="row" *ngIf="products" #top>
  <div
    *ngFor="
      let product of products
        | paginate
          : {
              id: 'server',
              itemsPerPage: pageSize,
              currentPage: actualPage,
              totalItems: totalCount
            }
    "
    class="card m-3 p-0"
    style="max-width: 600px"
  >
    <div class="d-flex g-0">
      <div class="">
        <img
          src="{{ product?.images?.small }}"
          alt="image {{ product?.name }}"
        />
      </div>
      <div class="flex-grow-1">
        <div class="d-flex flex-column h-100">
          <div class="card-body flex-grow-1">
            <h5 class="card-title">{{ product?.name }}</h5>
            <p class="card-text">
              Price : {{ product?.price | currency: "EUR":"symbol" }}
            </p>
          </div>
          <div class="card-footer mt-auto">
            <app-cart-card
              [isEditable]="true"
              [product]="getCartProduct(product.id)"
            ></app-cart-card>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center">
    <pagination-controls
      (pageChange)="getPage($event)"
      id="server"
    ></pagination-controls>
  </div>
</div>
<div *ngIf="!products">{{ errorMessage }}</div>
