<div *ngIf="products$ | async as products">
  <button class="btn btn-primary" type="button" (click)="toggleButtonCart()">
    Cart
    <span *ngIf="products?.length > 0"
      >( {{ getNumberProducts(products) }}
      <span [ngPlural]="getNumberProducts(products)">
        <ng-template ngPluralCase="=1">item</ng-template>
        <ng-template ngPluralCase="other">items</ng-template>
      </span>
      )</span
    >
  </button>
</div>
<div
  class="offcanvas offcanvas-end overide"
  [ngClass]="{ 'showCart': toggleButtonCart$ | async }"
  tabindex="-1"
  id="offcanvasRight"
  aria-labelledby="offcanvasRightLabel"
  data-bs-backdrop="false"
>
  <div class="offcanvas-header">
    <h5 id="offcanvasRightLabel">Your cart</h5>
    <button
      type="button"
      class="btn-close text-reset"
      (click)="toggleButtonCart()"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body">
    <div *ngIf="products$ | async as products">
      <div *ngIf="!products?.length > 0">Your cart is empty</div>
      <div *ngFor="let product of products" class="mt-3">
        <app-cart-card [product]="product" [isEditable]="true"></app-cart-card>
      </div>

      <div *ngIf="products?.length > 0">
        <hr />
        <div class="d-flex justify-content-between">
          <div><strong>Total :</strong></div>
          <div>{{ totalPrice$ | async | currency: "EUR":"symbol" }}</div>
        </div>
        <div class="mt-3">
          <a routerLink="/are-you-sure">
            <button
              class="btn btn-success pull-right"
              (click)="toggleButtonCart()"
            >
              Submit
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
