<div class="d-flex flex-column height justify-content-center">
  <div class="text-center">
    <h1 class="mb-5">Sorry</h1>
    <img src="assets/404-not-found.png" alt="404 not found" />
    <h2 class="mt-5">Pokemon not found</h2>
  </div>
</div>
