<div class="height d-flex flex-column justify-content-center">
  <h1 class="text-center mb-5">Welcome to the presentation !</h1>
  <img class="image" src="assets/tabmo.jpg"  alt="logo tabmo" />
</div>
