<div class="mt-5">
  <div *ngIf="products$ | async as products">
    <div *ngIf="!products?.length > 0">Your cart is empty</div>
    <div *ngFor="let product of products" class="mt-3">
      <app-cart-card [product]="product" [isEditable]="false"></app-cart-card>
    </div>

    <div *ngIf="products?.length > 0">
      <hr />
      <div class="d-flex justify-content-between">
        <div><strong>Total :</strong></div>
        <div>{{ totalPrice$ | async | currency: "EUR":"symbol" }}</div>
      </div>
      <div class="d-flex align-items-baseline mt-3">
        <div class="me-3">Are you sure ?</div>
        <div>
          <a routerLink="/congratulation">
            <button class="btn btn-success me-3 pull-right" (click)="resetCart()">Yes</button>
          </a>
          <a routerLink="/products">
            <button class="btn btn-secondary pull-right">No</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
