<form  (ngSubmit)="onSubmit()" [formGroup]="loginForm">
  <div>
    <label for="email">Email:</label>
    <input type="email" id="email" formControlName="email" required>
    <div *ngIf="loginForm.get('email').touched && loginForm.get('email').invalid">
      <div *ngIf="loginForm.get('email').errors.required">Email est requis.</div>
      <div *ngIf="loginForm.get('email').errors.email">Email invalide.</div>
    </div>
  </div>
  <div>
    <label for="password">Mot de passe:</label>
    <input type="password" id="password" formControlName="password" required>
    <div *ngIf="loginForm.get('password').touched && loginForm.get('password').invalid">
      <div *ngIf="loginForm.get('password').errors.required">Mot de passe est requis.</div>
      <div *ngIf="loginForm.get('password').errors.minlength">Le mot de passe doit avoir au moins 6 caractères.</div>
    </div>
  </div>
  <button type="submit" [disabled]="loginForm.invalid">Connexion</button>
</form>
